{% extends 'base.html' %}

{% block title %}
Vet’s dashboard
{% endblock %}

{% block navtitle %}
Vet’s Dashboard
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Side Navigation -->
        <nav class="col-md-2 d-md-block bg-dark sidebar border-top">
            <div class="p-3">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('routes.dashboard_vet_page') }}">Requests</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('routes.vets_examinations_page') }}">Examinations</a></li>
                    <li class="nav-item active"><a class="nav-link text-white" href="{{ url_for('routes.animal_health_records_page') }}">Health Records</a></li>
                </ul>
            </div>
        </nav>
    
        <!-- Main Content -->
        <main class="col-md-10 ml-sm-auto px-4 mt-4">
            <!-- Animal Name -->
            <h3 class="text-center">Health Records Of All Animals</h3> 
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Species</th>
                            <th scope="col">Birth Date</th>
                            <th scope="col">Number of HR</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in animals_hrecords_count %}
                        <tr>
                            <td>{{ record.animal.name }}</td>
                            <td>{{ record.animal.species }}</td>
                            <td>{{ record.animal.birth_date }}</td>
                            <td>#{{ record.health_records_count }}</td>
                            <td>
                                <a href="{{ url_for('routes.animal_health_records_detail_page', animal_id=record.animal.id) }}" class="btn btn-info btn-sm">View All Health Records</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </main>
    </div>
</div>
{% endblock %}