{% extends 'base.html' %}

{% block title %}
Vet Dashboard
{% endblock %}

{% block navtitle %}
Vet Dashboard
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Left Side Navigation -->
        <nav class="col-md-2 d-md-block bg-dark sidebar border-top">
            <div class="p-3">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('routes.dashboard_vet_page') }}">Requests</a></li>
                    <li class="nav-item active"><a class="nav-link text-white" href="{{ url_for('routes.dashboard_vet_page') }}">Examinations</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('routes.animal_health_records_page') }}">Health Records</a></li>
                </ul>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-10 ml-sm-auto px-4">
            <h3 class="text-center mt-4">Examinations</h3>
            <a href="{{ url_for('routes.create_examination_page')}}" class="btn btn-primary m-3">Create Examination</a>
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Animal ID</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for examination in vet_examinations %}
                        <tr>
                            <td>{{ examination.date }}</td>
                            <td>
                                {% if examination.type == 'vaccination' %}
                                    Vaccination
                                {% elif examination.type == 'preventive_checkup' %}
                                    Preventive Checkup
                                {% else %}
                                    Examination
                                {% endif %}
                            </td>
                            <td>{{ examination.animal.name }} ({{ examination.animal.species }})</td>
                            <td>
                                <a href="{{ url_for('routes.examination_detail_page', examination_id=examination.id) }}" class="btn btn-info btn-sm">View Details</a>
                                <a href="{{ url_for('routes.edit_examination_page', examination_id=examination.id) }}" class="btn btn-info btn-sm">Edit</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
{% endblock %}
