{% extends 'base.html' %}

{% block title %}
Caretaker
{% endblock %}

{% block navtitle %}
Caretaker Dashboard
{% endblock %}

{% block body %}

<div class="container-fluid ">
     <div class="row">
          <div class="col-2 bg-dark">
               <ul class="nav flex-column">
                    <li class="nav-item">
                         <a class="nav-link"  href="{{url_for('routes.animals_caretaker_page')}}">Animals</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">Confirm Reservations</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="{{url_for('routes.dashboard_caretaker_page')}}">Verify Volunteers</a>
                    </li>
               </ul>
          </div>

          <div class="col text-center">
               {% block content %}
               {% endblock %}
          </div>
     </div>
</div>


{% endblock %}