{% extends 'caretaker/dashboard_caretaker_base.html' %}

{% block content %}
<h3>{{edit.title}} Animal</h3>
<form method="POST" action="{{ url_for(edit.route, animal_id=animal_id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.species.label }} {{ form.species(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.weight.label }} {{ form.weight(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.birth_date.label }} {{ form.birth_date(class="form-control") }}
        {% for error in form.birth_date.errors %}
            <span class="rounded bg-danger p-1"> {{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.photo.label }} {{ form.photo(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('routes.animals_caretaker_page') }}" class="btn btn-secondary">Cancel</a>
        {{ form.delete(class="btn btn-danger") }}
    </div>
    </form>
{% endblock %}