{% extends 'caretaker/dashboard_caretaker_base.html' %}

{% block content %}
<h3>{{ edit.title }} Animal</h3>
<form method="POST" action="{{ url_for(edit.route, animal_id=animal_id) }}">
    {{ form.hidden_tag() }}
    
    <!-- Dynamical rendering of form fields -->
    {% for field in form %}
        {% if field.type != "HiddenField" and field.name not in ['submit', 'delete'] and field.name not in ['csrf_token'] %}
            {% include '_form_field.html' %}
        {% endif %}
    {% endfor %}

    <!-- Required field label -->
    <div class="form-group text-muted" style="font-size: 0.9rem;">
        <span class="text-danger">*</span> = Required field
    </div>

    <!-- Submit and Cancel buttons -->
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('routes.animals_caretaker_page') }}" class="btn btn-secondary">Cancel</a>
        {% if edit.title == 'Edit' %}
            {{ form.delete(class="btn btn-danger") }}
        {% endif %}
    </div>
</form>
{% endblock %}
