{% extends 'caretaker/dashboard_caretaker_base.html' %}

{% block content %}
<h3>Verify Caretakers</h3>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Verified</th>
            <th scope="col">Switch Verification</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.verified }}</td>
                <td>
<!--                    <button class="btn btn-success btn-outline">Verify</button>-->
<!--                    <button class="btn btn-danger btn-outline">Unverify</button>-->
                    <form method="post">
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <button class="btn btn-success btn-outline"
                                type="submit"
                                name="validate"
                                value="True"
                        >
                            Verify
                        </button>
                        <button class="btn btn-danger btn-outline"
                                type="submit"
                                name="validate"
                                value="False"
                        >
                            Unverify
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}