{% extends 'base.html' %}

{% block title %}
Animal Shelter
{% endblock %}

{% block navtitle %}
Admin Dashboard
{% endblock %}

{% block body %}
<div class="container">    
    <h3 class="text-center mt-4">Existing Users</h3>

    <!-- Filtering -->
     <form method="GET" action="{{ url_for('routes.dashboard_admin_page') }}" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="text" name="login" class="form-control" placeholder="Filter by Login">
            </div>
            <div class="form-group col-md-2">
                <input type="text" name="first_name" class="form-control" placeholder="Filter by First Name">
            </div>
            <div class="form-group col-md-2">
                <input type="text" name="last_name" class="form-control" placeholder="Filter by Last Name">
            </div>            
            <div class="form-group col-md-2">
                <input type="text" name="email" class="form-control" placeholder="Filter by Email">
            </div>
            <select class="form-group col-md-2" name="role">
                    <option value="">All Roles</option>
                    <option value="admin" {% if request.args.get('role') == 'admin' %} selected {% endif %}>Admin</option>
                    <option value="caretaker" {% if request.args.get('role') == 'caretaker' %} selected {% endif %}>Caretaker</option>
                    <option value="vet" {% if request.args.get('role') == 'vet' %} selected {% endif %}>Vet</option>
                    <option value="volunteer" {% if request.args.get('role') == 'volunteer' %} selected {% endif %}>Volunteer</option>
            </select>
            <!-- TODO: verification state -->
            <!-- <select class="form-group col-md-2" name="role">
                <option value="">Verification state</option>
                <option value="">All</option>
                <option value="admin" {% if request.args.get('verified') == 'verified' %} selected {% endif %}>Verified</option>
                <option value="caretaker" {% if request.args.get('verified') == 'unverified' %} selected {% endif %}>Unverified</option>
                
            </select> -->

            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
     </form>

    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Login</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate through users and display each one as a row -->
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ role_format[user.role] }}</td>
                    <td><a href="{{ url_for('routes.update_user_page', user_id=user.id) }}" class="btn btn-info btn-sm">Edit</a></td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
