<!-- 
Vet dashboard
    Routes: Login (If user.role == 'vet') => vet_dashboard
    Able to:
        Manage health records
        Planning animal examination
-->

{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block navtitle %}
Vet Dashboard
{% endblock %}

{% block body %}
<div class="container">    
    <h3 class="text-center mt-4">Existing Users</h3>

    <!-- Filtering -->
     <form method="GET" action="{{ url_for('routes.dashboard_vet_page') }}" class="mb-4">
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="text" name="confirmed" class="form-control" placeholder="">
            </div>            
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
     </form>

    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <!-- Table Header -->
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Created At</th>                    
                    <th scope="col">Animal ID</th>
                    <th scope="col">Caretaker ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate through requests and display each one as a row -->
                {% for request in vet_requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.created_at }}</td>
                    <td>{{ request.animal_id }}</td>
                    <td>{{ request.caretaker_id }}</td>
                    <td>...</td>
                    <td><a href="{{ url_for('routes.request_detail_page') }}" class="btn btn-info btn-sm">View All</a></td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
