{% extends 'base.html' %}

{% block title %}
Animal Shelter
{% endblock %}

{% block navtitle %}
Edit user
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h3>Edit User: {{ user.login }}</h3>
    <form method="POST" action="{{ url_for('routes.update_user_page', user_id=user.id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.login.label }} {{ form.login(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }} {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.role.label }} {{ form.role(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
            {{ form.cancel(class="btn btn-secondary") }}
            {{ form.delete(class="btn btn-danger") }}
        </div>        
    </form>
</div>

{% endblock %}