{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Register a new user</h2>

    <form method="POST" action="{{ url_for('routes.register_page') }}">
        {{ form.hidden_tag() }}
        
        <!-- Dynamically render fields -->
        {% for field in form %}
            {% if field.type != "HiddenField" and field.name not in ['submit'] and field.name not in ['csrf_token'] %}
                {% include '_form_field.html' %}
            {% endif %}
        {% endfor %}

        <!-- Required field label -->
        <div class="form-group text-muted text-center" style="font-size: 0.9rem;">
            <span class="text-danger">*</span> = Required field
        </div>
        
        <div class="form-group">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>

    <p class="Text-center">Already have an account?
        <a href="{{ url_for('routes.login_page') }}">Sign In</a>
    </p>
</div>
{% endblock %}